@page
@model ForgotPasswordModel
@{
   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>أدخل بريدك الإلكتروني.</h2>
<hr />
<div class="row" style="direction: rtl; text-align: right;">
    <div class="col-md-4">
        <form method="post" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border: 1px solid #6b42c1;" />
                <label asp-for="Input.Email" class="form-label" style="color: #6b42c1;">البريد الإلكتروني</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #6b42c1; border: none;">إعادة تعيين كلمة المرور</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
