
body {
    font-family: 'Almarai', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    background-color: #6b42c1; /* ·Ê‰ „Ê› ··‹ Sidebar */
}

    .sidebar-nav h2 {
        font-size: 1.5rem;
        margin: 0;
        color: #ffffff; /* «·‰’ √»Ì÷ ·Ì ‰«”» „⁄ «·Œ·›Ì… */
    }

    .sidebar-nav .nav-link {
        font-size: 1rem;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
        color: #ffffff; /* «·‰’ √»Ì÷ */
    }

        .sidebar-nav .nav-link:hover {
            background-color: #9441c1; /* ·Ê‰ „Ê› √€„ﬁ ⁄‰œ «· „—Ì— */
            color: #ffffff;
            transform: translateX(5px);
        }

.content header {
    background-color: #9441c1; /* ·Ê‰ „Ê› √€„ﬁ ··—√” */
    padding: 10px;
    color: #ffffff; /* «·‰’ √»Ì÷ */
}

.content main {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

